body
{
  background-color: rgb(229, 232, 235);
  background-image: url("../img/1.png");
  background-repeat: no-repeat;
  background-size:cover;
   
}
h1{
  text-align:center;
  font-size: 70px;
  position: relative;
  font-family: 'Sacramento', cursive,Arial, Helvetica, sans-serif;
  color:rgb(138, 11, 6);
  
}
#mainCont
{
position:static;
}

hr
{
  border: 3px solid rgba(50, 53, 70, 0.795);
  border-radius: 5px;
}
#myProfImg
{
 width: 25%; 
 height: 200%;
 float: left;
 border-radius:25px;
 margin-right: 40px;
 opacity: 0.9;
}
#div2
{
  font-size: 50px;
  color:rgb(151, 40, 0);
}
p
{
font-size: 25px;
color: rgb(179, 0, 0);
}

li
{
 font-size: 25px;
 color: rgb(14, 58, 52);  
}
#exp
{
  font-size: 30px;
  text-underline-offset:initial;
}

#dText
{
  position: relative;
  
}

#breakBr
{
  height:70px;
}
.top10
{
  text-align: center;
  color: rgb(8, 18, 102);
  font-size: 25px ;
  border: 3px  solid;
}
.float-container {
  
  border: 5px solid rgb(179, 15, 15);
  padding: 10px;
  margin: auto 10% auto 35%;
}
hr:nth-child(6)
{margin-bottom: 50px;}
